
/Source/SlashGames.Math/bin/Debug
/Source/SlashGames.Math/obj
/Source/SlashGames.GameBase/StyleCop.Cache
/Source/SlashGames.GameBase/bin/Debug
/Source/SlashGames.GameBase/obj
/Source/Artemis/Artemis_XNA_INDEPENDENT/Artemis.csproj.user
/Source/Artemis/Artemis_XNA_INDEPENDENT/bin/Release/artemis.XML
/Source/Artemis/Artemis_XNA_INDEPENDENT/obj/x86/Release/Artemis.csproj.FileListAbsolute.txt
/Source/Artemis/Artemis_XNA_INDEPENDENT/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Source/Artemis/Artemis_XNA_INDEPENDENT/obj/x86/Release/artemis.dll
/Source/SlashGames.AI.BehaviorTrees/obj
/Source/SlashGames.AI.BehaviorTrees/bin
/Source/SlashGames.AI.BehaviorTrees/SlashGames.AI.BehaviorTrees.csproj
/Source/SlashGames.AI.BehaviorTrees/SlashGames.AI.BehaviorTrees.csproj.user
/Source/SlashGames.GameBase/bin
/Source/SlashGames.Math/SlashGames.Math.csproj.user
/Source/SlashGames.Math/bin
/Source/Artemis/Artemis_XNA_INDEPENDENT/bin
/Source/Artemis/Artemis_XNA_INDEPENDENT/obj
/Source/Artemis/Artemis_XNA_INDEPENDENT/bin
/Source/Artemis/Artemis_XNA_INDEPENDENT/obj
/Source/SlashGames.Unity.Common/bin
/Source/SlashGames.Unity.Common/obj
/Source/SlashGames.GameBase.Tests/StyleCop.Cache
/Source/SlashGames.GameBase.Tests/obj
/Source/SlashGames.GameBase.Tests/bin
/Ext/cai-nav-0.4.0
/Source/_ReSharper.SlashGamesFramework
/Source/SlashGames.Xml/obj
/Source/SlashGames.Xml/bin
/Source/SlashGames.Collections/bin
/Source/SlashGames.Collections/obj
/Source/SlashGames.Serialization/bin
/Source/SlashGames.Serialization/obj
/Source/SlashGamesFramework.sln.DotSettings.user
/Source/Artemis/Artemis_XNA_INDEPENDENT/StyleCop.Cache
/Source/SlashGames.GameBase/SlashGames.GameBase.csproj.user
/Source/SlashGames.Math/StyleCop.Cache
/Source/SlashGames.Unity.Common/StyleCop.Cache
/Source/SlashGames.AI.BehaviorTrees.Tests/obj
/Source/SlashGames.AI.BehaviorTrees.Tests/bin
/Source/SlashGames.Unity.Editor.Common/obj
/Source/SlashGames.Unity.Editor.Common/bin
/Source/SlashGames.Collections/StyleCop.Cache
/Source/SlashGames.AI/StyleCop.Cache
/Source/SlashGames.AI/obj
/Source/SlashGames.AI/bin
/Source/SlashGames.Reflection/bin
/Source/SlashGames.Reflection/obj
/Source/SlashGames.Reflection.Tests/bin
/Source/SlashGames.Reflection.Tests/obj
/Source/SlashGames.System/bin
/Source/SlashGames.System/obj
/Source/SlashGames.Collections.Tests/bin
/Source/SlashGames.Collections.Tests/obj
/Source/SlashGames.Configurations/obj
/Source/SlashGames.Configurations/bin
/Source/SlashGames.Sandbox/obj
/Source/SlashGames.Sandbox/bin
/Source/SlashGames.Diagnostics/bin
/Source/SlashGames.Diagnostics/obj
/Source/SlashGamesFramework.ncrunchsolution.user
/Source/_NCrunch_SlashGamesFramework/SlashGamesFramework.crunchsolution.cache
/Source/*/bin
/Source/*/obj
