
/Source/RainyGames.Math/bin/Debug
/Source/RainyGames.Math/obj
/Source/RainyGames.GameBase/StyleCop.Cache
/Source/RainyGames.GameBase/bin/Debug
/Source/RainyGames.GameBase/obj
/Source/Artemis/Artemis_XNA_INDEPENDENT/Artemis.csproj.user
/Source/Artemis/Artemis_XNA_INDEPENDENT/bin/Release/artemis.XML
/Source/Artemis/Artemis_XNA_INDEPENDENT/obj/x86/Release/Artemis.csproj.FileListAbsolute.txt
/Source/Artemis/Artemis_XNA_INDEPENDENT/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Source/Artemis/Artemis_XNA_INDEPENDENT/obj/x86/Release/artemis.dll
/Source/RainyGames.AI.BehaviorTrees/obj
/Source/RainyGames.AI.BehaviorTrees/bin
/Source/RainyGames.AI.BehaviorTrees/RainyGames.AI.BehaviorTrees.csproj
/Source/RainyGames.AI.BehaviorTrees/RainyGames.AI.BehaviorTrees.csproj.user
/Source/RainyGames.GameBase/bin
/Source/RainyGames.Math/RainyGames.Math.csproj.user
/Source/RainyGames.Math/bin
/Source/Artemis/Artemis_XNA_INDEPENDENT/bin
/Source/Artemis/Artemis_XNA_INDEPENDENT/obj
/Source/Artemis/Artemis_XNA_INDEPENDENT/bin
/Source/Artemis/Artemis_XNA_INDEPENDENT/obj
/Source/RainyGames.Unity.Common/bin
/Source/RainyGames.Unity.Common/obj
/Source/RainyGames.GameBase.Tests/StyleCop.Cache
/Source/RainyGames.GameBase.Tests/obj
/Source/RainyGames.GameBase.Tests/bin
/Ext/cai-nav-0.4.0
/Source/_ReSharper.RainyGamesFramework
/Source/RainyGames.Xml/obj
/Source/RainyGames.Xml/bin
/Source/RainyGames.Collections/bin
/Source/RainyGames.Collections/obj
/Source/RainyGames.Serialization/bin
/Source/RainyGames.Serialization/obj
/Source/RainyGamesFramework.sln.DotSettings.user
/Source/Artemis/Artemis_XNA_INDEPENDENT/StyleCop.Cache
/Source/RainyGames.GameBase/RainyGames.GameBase.csproj.user
/Source/RainyGames.Math/StyleCop.Cache
/Source/RainyGames.Unity.Common/StyleCop.Cache
/Source/RainyGames.AI.BehaviorTrees.Tests/obj
/Source/RainyGames.AI.BehaviorTrees.Tests/bin
/Source/RainyGames.Unity.Editor.Common/obj
/Source/RainyGames.Unity.Editor.Common/bin
/Source/RainyGames.Collections/StyleCop.Cache
/Source/RainyGames.AI/StyleCop.Cache
/Source/RainyGames.AI/obj
/Source/RainyGames.AI/bin